<!-- Signup -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:id => 'signup_form'}, format: :json, remote: true) do |f| %>
  <%= devise_error_messages! %>
  <div class="in-row">
    <%= f.text_field :user_name, autofocus: true, class: "in-field", id: "in-uname" %>
    <label class="in-label" for="in-uname">
      <span class="in-label-content" data-content="Username">Username</span>
    </label>
  </div>
  <div class="in-row">
    <%= f.email_field :email, class: "in-field", id: "in-email" %>
    <label class="in-label" for="in-email">
      <span class="in-label-content" data-content="E-mail">E-mail</span>
    </label>
  </div>
  <div class="in-row">
    <%= f.password_field :password, autocomplete: "off", class: "in-field", id: "in-psw" %>
    <label class="in-label" for="in-psw">
      <span class="in-label-content" data-content="Password">Password</span>
    </label>
  </div>
  <div class="in-row">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "in-field", id: "in-psw-confirm" %>
    <label class="in-label" for="in-psw-confirm">
      <span class="in-label-content" data-content="Confirm Password">Confirm Password</span>
    </label>
  </div>
  <div class="in-error"></div>

  <%= f.submit "Sign up", class: "btn btn-primary in-submit" %>
<% end %>

<%= render "devise/shared/links" %>

