<h2 class="in-form-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'in-form' }, format: :json, remote: true) do |f| %>
  <%= devise_error_messages! %>
  <div class="in-row">
    <%= f.text_field :user_name, autofocus: true, class: "in-field", id: "username" %>
    <label class="in-label" for="username">
      <span class="in-label-content" data-content="Username">Username</span>
    </label>
  </div>
  <div class="in-row">
    <%= f.email_field :email, class: "in-field", id: "useremail" %>
    <label class="in-label" for="useremail">
      <span class="in-label-content" data-content="E-mail">E-mail</span>
    </label>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="in-row">
    <%= f.password_field :password, autocomplete: "off", class: "in-field", id: "userpassword" %>
    <label class="in-label" for="userpassword">
      <span class="in-label-content" data-content="Password">Password</span>
    </label>
    <span class="in-hint">Leave blank to maintain unchanged</span>
  </div>
  <div class="in-row">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "in-field", id: "userpasswordconfirm" %>
    <label class="in-label" for="userpasswordconfirm">
      <span class="in-label-content" data-content="Confirm Password">Confirm Password</span>
    </label>
  </div>
  <div class="in-row large">
    <%= f.password_field :current_password, autocomplete: "off", class: "in-field", id: "usercurrentpassword" %>
    <label class="in-label" for="usercurrentpassword">
      <span class="in-label-content" data-content="Current Password">Current Password</span>
    </label>
    <span class="in-hint">Insert your old password to authorize changes</span>
  </div>
  <%= f.submit "Save changes", class:"btn btn-primary in-submit" %>
<% end %>

<span class="account-cancel-hint">Unhappy?</span> <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default in-submit account-cancel-btn" %>

