<h2 class="in-form-title">Edit entry</h2>
<%= form_for(@entry, :html => {:class => 'in-form'}) do |f| %>
	<div class="in-row">
		<%= f.text_field :title, class: "in-field", id: "ent-title" %>
		<label class="in-label" for="ent-title">
	      <span class="in-label-content" data-content="Title">Title</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.url_field :link, class: "in-field", id: "ent-link" %>
		<label class="in-label" for="ent-link">
	      <span class="in-label-content" data-content="Link">Link</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_area :description, class: "in-field" %>
		<label class="in-label" for="ent-title">
	      <span class="in-label-content" data-content="Description">Description</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_field :author, class: "in-field", id: "entry-author"  %>
		<label class="in-label" for="entry-author">
	      <span class="in-label-content" data-content="Author">Author</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_field :readingtime, class: "in-field", id: "entry-readingtime"  %>
		<label class="in-label" for="entry-readingtime">
	      <span class="in-label-content" data-content="Reading Time">Reading Time</span>
	    </label>
	</div>
	<div class="in-row">
		<%= label_tag 'entry[group_id]', "Type" %>
		<%= f.collection_select(:group_id, @groups, :id, :name, {prompt: true}, {class: "form-control"}) %>
	</div>
		<div class="in-row">
		<%= label_tag 'section[category_id]', "Move to section" %>
		<%
			categories = @library.categories.includes(:sections)
			sections = []
			categories.each do |c|
				sections.concat(c.sections)
			end
		%>
		<%= f.collection_select(:section_id, sections, :id, lambda {|s| s.category.name + "/" + s.name}, {prompt: true}, {class: "form-control"}) %>
	</div>
	<%= f.submit "Save changes", class: "btn btn-primary in-submit" %>
<% end %>
