<nav class="navbar navbar-default navbar-fixed-top" id="custom-nav">
    <div class="container-fluid">
      <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>

      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

        <a href="#" class="navbar-brand"><span id="logo">La Library</span></a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Sections <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Entrepreneurship</a></li>
                <li><a href="#">Getting Started</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Selling</a></li>
              </ul>
            </li>
            <li><a href="#">Suggest</a></li>
            <li>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search for tags">
                </div>
                <button type="submit" class="btn btn-default">Go</button>
              </form>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>   
    </div>
  </nav>
<div class="header">
  <div class="container">
    <h1>Entries</h1>
  </div>
</div>

<div class="entries">
  <div class="container">
  
    <% @entries.each do |entry| %>
    <div class="entry">
      <p class="entry-title"><%= entry.title %></p>
      <a class="entry-link" href="<%= entry.link %>"><%= entry.link %></a>
      <p class="entry-desc"><%= entry.description %></p>
      <p class="entry-rating">Rating: <%= entry.rating %></p>
      <p class="entry-time"><%= entry.created_at %></p>
    </div>
    <% end %>
    <%= link_to 'New Link', "entries/new" %>
  </div>
</div>