<div class="create">
  <div class="form">
    <h1>Submit a new link</h1>
    <!-- Your code here -->
    <%= form_for(@entry) do |f| %>
      <%= f.text_field :title, :placeholder => "Title" %>
      <%= f.url_field :link, :placeholder => "Link" %>
      <%= f.text_field :description, :placeholder => "Description" %>
      <%= f.collection_select(:section_id, Section.all, :id, Proc.new {|c| "#{c.category.name}/#{c.name}"}, prompt: true) %>
      <%= f.submit "Submit", class: "btn-submit" %>
    <% end %>
    
  </div>
</div>
