<div class="header">
  <div class="container">
    
  </div>
</div>

<div class="create">
  <div class="form">
    <h1>Submit a new link</h1>
    <!-- Your code here -->
    <%= form_for(@entry) do |f| %>
      <%= f.text_field :title, :placeholder => "Title" %>
      <%= f.url_field :link, :placeholder => "Link" %>
      <%= f.email_field :description, :placeholder => "Description" %>
      <%= f.text_field :rating, :placeholder => "Rating" %>
      <%= f.submit "Submit", class: "btn-submit" %>
    <% end %>
    
  </div>
</div>