
<h1>Add a new link</h1>
<%= form_for(@entry) do |f| %>
	<div class="form-group">
		<%= label_tag 'entry[title]', "Title" %>
		<%= f.text_field :title, :placeholder => "Title of your link", class: "form-control" %>
	</div>
	<div class="in-row">
		<%= f.url_field :link, class: "in-field", id: "entry-link"  %>
		<label class="in-label" for="entry-link">
	      <span class="in-label-content" data-content="Link">Link</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_area :description, class: "in-field", id: "entry-description" %>
		<label class="in-label" for="entry-description">
	      <span class="in-label-content" data-content="Description">Description</span>
	    </label>
	</div>

	<div class="form-group">
		<%= label_tag 'entry[group_id]', "Type" %>
		<%= f.collection_select(:group_id, @groups, :id, :name, {prompt: true}, {class: "form-control"}) %>
	</div>
	<%= f.hidden_field :accepted, :value => true %>
	<%= f.hidden_field :section_id, :value => @section.id %>
	<%= f.submit "Submit", class: "btn btn-submit" %>
<% end %>
