<p id="notice"><%= notice %></p>

<h1>Listing Informers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informers.each do |informer| %>
      <tr>
        <td><%= informer.email %></td>
        <td><%= link_to 'Show', informer %></td>
        <td><%= link_to 'Edit', edit_informer_path(informer) %></td>
        <td><%= link_to 'Destroy', informer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Informer', new_informer_path %>
