<div class="panel panel-default">
	<div class="panel-heading">
		Sign up
	</div>
	<div class="panel-body">
		<%= form_for(@user) do |f| %>
			<div class="form-group">
				<%= label_tag 'user[first_name]', "First Name"%>
				<%= f.text_field :first_name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= label_tag 'user[last_name]', "Last Name"%>
				<%= f.text_field :last_name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= label_tag 'user[user_name]', "User Name"%>
				<%= f.text_field :user_name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= label_tag 'user[email]', "Email address"%>
				<%= f.email_field :email, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= label_tag 'user[password]', "Password"%>
				<%= f.password_field :password, class: "form-control" %>
			</div>
			<%= f.submit "Create new account", class: "btn btn-submit" %>
		<% end %>
	</div>
</div>
