<nav class="navbar navbar-fixed-top navbar-default header" id="custom-nav">
	<div class="container-fluid">
	<div class="row">
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <h1 class="main-logo">
				<a href="/"><span class="logo-glyph"></span><span class="logo-type">Coilbee</span></a>
			</h1>
    	</div>
	    <div class="collapse navbar-collapse" id="navbar-main-collapse">
	        <ul class="nav navbar-nav navbar-right">
	        	<% if @library && @library.topic && 1 > 2 %>
		        	<li>
						<%= form_tag(tag_search_path, :method => "get", id: "search-form", role: "search") do %>
							<%= hidden_field_tag :library_id, @library.id %>
							<div class="search-input">
								<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search", id: "search-tag" %>
								<label class="search-label" for="search-tag"></label>
							</div>
							<%= button_tag type: "submit", class: "search-submit" do %>
								<span class="glyphicon glyphicon-search"></span>
							<% end %>
						<% end %>
					</li>
				<% end %>
				<% if current_user %>
					<% if @library && @library.topic %>
						<% if permitted_to? :edit, @library %>
								<li><%= link_to suggestions_library_path(@library) do %><span class="glyphicon glyphicon-flash"></span>Suggestions<% end %></li>
						<% else %>
							<li><%= link_to suggest_library_path(@library) do %><span class="glyphicon glyphicon-plus"></span>Suggest<% end %></li>
						<% end %>
					<% end %>
					<% if (@library && (permitted_to? :edit, @library)) || !@library %> 
						<% if current_user.read? %>
							<li><%= link_to toggle_edit_path, method: :put do %><span class="glyphicon glyphicon-edit"></span>Edit mode<% end %></li>
						<% else %>
							<li><%= link_to toggle_read_path, method: :put do %><span class="glyphicon glyphicon-book"></span>Read Mode<% end %></li>
						<% end %>
					<% end %>
					<li class="user-btn"><span class="user-toggle"><%= current_user.user_name %></span>
						<div class="user-dropdown">
							<%= link_to edit_user_registration_path do %>
								<span class="glyphicon glyphicon-user"></span>
								<span class="user-dropdown-text">User Info</span>
							<% end %>
							<%= link_to destroy_user_session_path, method: "delete", class: "user-logout" do %>
								<span class="glyphicon glyphicon-log-out"></span>
								<span class="user-dropdown-text">Log Out</span>
							<% end %>
						</div>
					</li>
				<% else %>
					<li>
						<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success signup-btn small nav-btn', id: "signup-btn-header" %>
					</li>
					<li>
						<%= link_to "Login", new_user_session_path, :class => 'btn login-btn small nav-btn', id: "login-btn-header" %>
					</li>
				<% end %>
	        </ul>
	    </div>
    </div>
    </div>
	</div>
</nav>
<div class="overlay" id="login-popup">
	<div class="popup row">
		<span class="close-popup glyphicon glyphicon-remove-sign"></span>
		<%= render 'devise/sessions/new' %>
	</div>
</div>
<div class="overlay" id="signup-popup">
	<div class="popup row">
		<span class="close-popup glyphicon glyphicon-remove-sign"></span>
		<%= render 'devise/registrations/new' %>
	</div>
</div>
<div class="overlay" id="prompt-popup">
	<div class="popup row">
		<span class="close-popup glyphicon glyphicon-remove-sign"></span>
		<%= render 'shared/prompt' %>
	</div>
</div>
