<nav class="navbar navbar-fixed-top navbar-default header" id="custom-nav">
	<div class="container-fluid">
	<div class="col-lg-10 col-lg-offset-1 col-xs-12">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <h1 class="linkr-logo">
				<a href="/"><span class="logo-glyph"></span><span class="logo-type">Linkr</span></a>
			</h1>
    	</div>
	    <div class="collapse navbar-collapse" id="navbar-main-collapse">
	        <ul class="nav navbar-nav navbar-right">
	        	<li>
					<%= form_tag(tag_search_path, :method => "get", id: "search-form", role: "search") do %>
						<%= hidden_field_tag :library_id, @library.id %>
						<%= text_field_tag :search, params[:search], class: "search-field", placeholder: "Search Tag" %>
						<%= submit_tag "Go", class: "btn btn-default search-submit" %>
					<% end %>
				</li>
				<% if current_user %>
					<% if @library && @library.topic %>
						<% if permitted_to? :edit, @library %> 
							<li><%= link_to suggestions_library_path(@library), class: "suggested-link" do %><span class="glyphicon glyphicon-flash" data-toggle="tooltip" data-placement="bottom" title="Suggestions"></span><% end %></li>
						<% else %>
							<li><%= link_to suggest_entry_path(lib: @library), class: "suggest-link" do %><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Suggest"></span><% end %></li>
						<% end %>
					<% end %>
					<% if (@library && (permitted_to? :edit, @library)) || !@library %> 
						<% if current_user.read? %>
							<li><%= link_to toggle_edit_path, class: "edit-link", method: :put do %><span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit mode"></span><% end %></li>
						<% else %>
							<li><%= link_to toggle_read_path, class: "read-link", method: :put do %><span class="glyphicon glyphicon-book" data-toggle="tooltip" data-placement="bottom" title="Read mode"></span><% end %></li>
						<% end %>
					<% end %>
					<li class="user-btn"><%= link_to current_user.email, edit_user_registration_path %>
						<div class="user-dropdown">
							<%= link_to "Log out", destroy_user_session_path, method: "delete", class: "user-logout" %>
						</div>
					</li>
				<% end %>
	        </ul>
	    </div>
    </div>
	</div>
</nav>

