<!--
<div class="library-nav">
	<% if @library && @library.topic %>
		<%= link_to @library.topic, library_path(@library), class: "library-topic" %>
	<% end %>
	<% if @library && @library.topic %>
		<%= form_tag(tag_search_path, :method => "get", id: "search-form", role: "search") do %>
			<div class="search-wrapper">
				<%= hidden_field_tag :library_id, @library.id %>
				<%= text_field_tag :search, params[:search], class: "search-field", id: "search" %>
			    <%= submit_tag "Go", class: "btn btn-default in-submit" %>
			</div>
		<% end %>
	<% end %>
</div>
-->