  <aside>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @library.categories.includes(:sections).each_with_index do |c, index| %>
        <div class="panel panel-default menu-category">
          <div class="panel-heading" role="tab" id="heading<%= index %>">
            <h4 class="panel-title">
              <div class="row">
                <a href="#collapse<%= index %>" class="sidebar-header col-xs-8 menu-category-link" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse<%= index %>">
                  <%= c.name %>
                </a>
                <% if current_user && current_user.edit? %>
                  <div class="col-xs-4 menu-icon-wrapper">
                    <% if permitted_to? :destroy, c %>
                      <%= link_to category_path(c), data: {confirm: "Are you sure?"}, :method => :delete, class: "menu-icon" do %>
                        <span class="glyphicon glyphicon-remove icon-small" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
                      <% end %>
                    <% end %>
                    <% if permitted_to? :edit, c %>
                      <%= link_to edit_category_path(c), class: "menu-icon" do %>
                        <span class="glyphicon glyphicon-edit icon-small" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
                      <% end %>
                    <% end %>
                    <% if permitted_to? :create, Section.new %>
                      <%= link_to new_section_path(:cat => c), class: "menu-icon" do %>
                        <span class="glyphicon glyphicon-plus icon-small" data-toggle="tooltip" data-placement="top" title="New" aria-hidden="true"></span>
                      <% end %>   
                    <% end %>
                  </div>
                <% end %>
              </div>
            </h4>
          </div>
          <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <% c.sections.each do |s| %>
              <div class="panel-body menu-section">
                <div class="row">
                  <%= link_to s.name, section_path(s), class: "menu-section-link col-xs-9" %>
                  <% if current_user && current_user.edit? %>
                    <div class="col-xs-3 menu-icon-wrapper"> 
                      <% if permitted_to? :destroy, s %>        
                        <%= link_to section_path(s), data: {confirm: "Are you sure?"}, :method => :delete, class: "menu-icon" do %>
                          <span class="glyphicon glyphicon-remove icon-small" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
                        <% end %>
                      <% end %>
                      <% if permitted_to? :edit, s %>      
                        <%= link_to edit_section_path(s), class: "menu-icon" do %>
                          <span class="glyphicon glyphicon-edit icon-small" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
                        <% end %>
                      <% end %>
                    </div> 
                  <% end %>
                </div> 
              </div>
            <% end %> 
          </div>  
        </div>
      <% end %>
      <!-- NEW CATEGORY MENU ITEM -->
      <% if current_user && (permitted_to? :create, @library.categories) %>
        <div class="panel panel-default menu-category menu-new-category">

          <div class="panel-heading" role="tab" id="heading-new">
            <h4 class="panel-title">
              <%= link_to new_category_path(:lib => @library) do %>
                <span>New Category</span>
                <span class="glyphicon glyphicon-plus pull-right icon-small" aria-hidden="true"></span>
              <% end %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
  </aside>
      

