  <aside>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <% @library.categories.includes(:sections).each_with_index do |c, index| %>
        <div class="menu-category">
          <div class="menu-category-heading" role="tab" id="heading<%= index %>">
            <h4 class="menu-category-title">
              <div class="row">
                <% if defined? @section then @section.category == c ? category_id = "collapse_current" : "" end %>
                <a href="#collapse<%= index %>" id="<%= category_id %>" class="sidebar-header col-xs-8 menu-category-link" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse<%= index %>">
                  <%= c.name %>
                </a>
                <% if current_user && current_user.edit? %>
                  <div class="col-xs-4 menu-icon-wrapper">
                    <% if permitted_to? :destroy, c %>
                      <%= link_to category_path(c), data: {confirm: "Are you sure?"}, :method => :delete, class: "menu-icon" do %>
                        <span class="glyphicon glyphicon-remove icon-small" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
                      <% end %>
                    <% end %>
                    <% if permitted_to? :edit, c %>
                      <%= link_to edit_category_path(c), class: "menu-icon" do %>
                        <span class="glyphicon glyphicon-edit icon-small" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
                      <% end %>
                    <% end %>
                    <% if permitted_to? :create,  Section.new(category: c) %>
                      <%= link_to new_section_path(:cat => c), class: "menu-icon" do %>
                        <span class="glyphicon glyphicon-plus icon-small" data-toggle="tooltip" data-placement="top" title="New" aria-hidden="true"></span>
                      <% end %>   
                    <% end %>
                  </div>
                <% end %>
              </div>
            </h4>
          </div>
          <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <% c.sections.each do |s| %>
              <% unless s.entries.empty? && !(current_user && current_user.edit?) %>
                <% @section == s ? section_class = "current" : section_class = "" %>
                <div class="menu-section <%= section_class %>">
                  <div class="row">
                    <%= link_to s.name, section_path(s), class: "menu-section-link col-xs-9" %>
                    <% if current_user && current_user.edit? %>
                      <div class="col-xs-3 menu-icon-wrapper"> 
                        <% if permitted_to? :destroy, s %>        
                          <%= link_to section_path(s), data: {confirm: "Are you sure?"}, :method => :delete, class: "menu-icon" do %>
                            <span class="glyphicon glyphicon-remove icon-small" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
                          <% end %>
                        <% end %>
                        <% if permitted_to? :edit, s %>      
                          <%= link_to edit_section_path(s), class: "menu-icon" do %>
                            <span class="glyphicon glyphicon-edit icon-small" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
                          <% end %>
                        <% end %>
                      </div> 
                    <% end %>
                  </div> 
                </div>
              <% end %>
            <% end %> 
          </div>  
        </div>
      <% end %>
      <!-- NEW CATEGORY MENU ITEM -->
      <% if current_user && current_user.edit? && (permitted_to? :create, @library.categories) %>
        <div class="menu-category menu-new-category">
          <div class="new-cat" role="tab" id="heading-new">
            <h4>
              <%= link_to new_category_path(:lib => @library) do %>
                <span>New Category</span>
                <span class="glyphicon glyphicon-plus pull-right icon-small" aria-hidden="true"></span>
              <% end %>
            </h4>
          </div>
        </div>
      <% end %>
    </div>
    <% unless current_user %>
      <div class="adv-wrapper">
        <div class="adv">
          <p class="adv-light">Created with Linkr</p>
          <p class="adv-content">Make your own library and suggest links!</p>
          <div class="adv-cta">
            <div><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success signup-btn small', id: "signup-btn" %></div>
            <span>Already have account?</span><%= link_to "Login", new_user_session_path, :class => 'btn login-btn small', id: "login-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </aside>
      

