<% if @entries.empty? %>
  <div>There seems to be nothing here.</div>
<% else %>
<div class="group-nav-wrapper">
  <% if current_user %>
    <% new_entries = @entries.select{|e| (e.created_at-current_user.last_sign_in_at) > 0} %>
  <% end %>
  <div class="entry-group">
    <% unless @entries.distinct.count('group_id') == 1 %>
      <ul class="group-nav">
        <li class="group-nav-item group-all group-nav-current"><div class="group-name"><span>All</span></div></li>
        <% @groups.each do |group_nav| %>
          <% unless @entries.select {|e| e.group == group_nav }.empty? %>
            <li class="group-nav-item" id="group_<%= group_nav.id %>"><div class="group-name"><span><%= group_nav.name %></span></div></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<% end %>
<% @entries.each do |entry| %>
  <div class="entry group_<%= entry.group.id %>">
    <div class="entry-header">
      <a target="_blank" href="<%= entry.link %>" class="entry-title" target="_blank"><%= entry.title %></a>
      <% if !entry.accepted %>
        <div class="entry-options">
          <%= link_to "Reject", entry_path(entry), data: {confirm: "Are you sure?"}, :method => :delete, class: 'btn btn-danger pull-right reject-entry-btn' %>
          <%= link_to "Accept", accept_entry_path(entry), class: 'btn btn-success pull-right accept-entry-btn',method: :put   %>
        </div>
      <% end %>
    </div>
    <div class="entry-info">
      <% if entry.author != "" %><span class="entry-author">by <%= entry.author %> / </span><% end %>
      <span class="entry-group"><%= entry.group.name %></span>
      <% if entry.readingtime != 0 %><span class="entry-readingtime">/ <%= entry.readingtime %> minutes</span><% end %>
    </div>
    <div class="entry-description">      
      <p><%= entry.description %></p>
    </div>
    <div class="entry-menu">
      <!-- vote -->
      <% current_user ? vote_class = "" : vote_class = "not-logged" %>
      <%= link_to like_entry_path(entry), { method: :put, :class => "entry-menu-icon entry-vote" + vote_class, 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "Upvote", 'aria-hidden' => "true" } do %>
        <span class="glyphicon glyphicon-triangle-top"></span><span class="counter"><%= entry.rating %></span>
      <% end %>
      <!-- share -->
      <div class="entry-menu-icon entry-share" data-toggle="tooltip" data-placement="top" title="Share" aria-hidden="true"><span class="glyphicon glyphicon-share-alt"></span></div>
      <!-- comment -->
      <div class="entry-menu-icon entry-comment" data-toggle="tooltip" data-placement="top" title="Coming Soon" aria-hidden="true"><span class="glyphicon glyphicon-comment"></span></div>
      <!-- admin commands -->
      <% if current_user && current_user.edit? && (permitted_to? :edit, entry)%>
        <% if entry.accepted %>
          <% if new_entries.include?(entry) %>
            <!--span class="glyphicon glyphicon-eye-open"></span-->
          <% end %>
        <% end %>        
        <%= link_to edit_entry_path(entry), { :class => "entry-menu-icon", 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "Edit", 'aria-hidden' => "true" } do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to entry_path(entry), { method: :delete, :class => "entry-menu-icon", 'data-confirm' => 'Are you sure?', 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "Delete", 'aria-hidden' => "True" } do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %> 
      <% end %>

      <div class="entry-share-popup">
        <ul class="share-buttons">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= entry.link %>&t=Coilbee" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="https://twitter.com/intent/tweet?source=<%= entry.link %>&text=Coilbee:<%= entry.link %>" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= entry.link %>&title=Coilbee&summary=&source=<%= entry.link %>" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li><a href="mailto:?subject=Coilbee&body=:%20<%= entry.link %>" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
          <li><a href="#" class="share-link" title="Link"><i class="fa fa-link"></i></a><span class="share-link-alert">Link copied to clipboard!</span></li>
        </ul>
        <div class="entry-share-link">
          <input type="text" readonly value="<%= entry.link %>">
        </div>
      </div>
    </div>
  </div>
<% end %>
