<% @entries.each do |entry| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div style="display: inline; float: left;">
        <%= link_to like_entry_path(entry), method: :put do %>
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
      </div>
      <div style="display: inline; position: relative; left: 10px;">
        <%= entry.rating %> Points
      </div>
      <div style="display: inline; position: relative; left: 15px;">
        <a href="<%= entry.link %>">
          <%= entry.title %>
        </a>
      </div>    
      <div style="display: inline; position: relative; left: 15px;">
          <%= entry.group.name %>
      </div>
      
      <%= link_to entry_path(entry), data: {confirm: "Are you sure?"}, :method => :delete, class: "pull-right" do %>
        <span class="glyphicon icon-small glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
      <% end %>   
       
      <%= link_to edit_entry_path(entry), class: "pull-right" do %>
        <span class="glyphicon icon-small glyphicon-edit" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
      <% end %>    
      <div style="display: inline; float: right;">
        <% entry.tags.each do |t| %>
          <div style="display: inline;"><%= link_to t.name, tag_path(t) %> </div> 
        <% end %>   
      </div> 
    </div>
    <div class="panel-body">
      <div style="display: inline; float: left;">
        <%= link_to dislike_entry_path(entry), method: :put do %>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        <% end %>
      </div>
      <div style="display: inline; position: relative; left: 10px;">
        <%= entry.description %>
      </div>
      <% if !entry.accepted %>
      <div class="pull-right">
        <%= link_to "Reject", entry_path(entry), data: {confirm: "Are you sure?"}, :method => :delete, class: 'btn btn-danger pull-right reject-btn' %>
        <%= link_to "Accept", accept_entry_path(entry), class: 'btn btn-success pull-right follow-btn',method: :put   %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>