<% if @entries.empty? %>
  <div>There seems to be nothing here.</div>
<% else %>
  <div class="group-nav-wrapper">
    <ul class="group-nav">
      <li class="group-nav-item group-all group-nav-current"><div class="group-name"><span>All</span></div></li>
      <% @groups.each do |group_nav| %>
          <li class="group-nav-item" id="group_<%= group_nav.id %>"><div class="group-name"><span><%= group_nav.name %></span></div></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% @entries.sort! { |a,b| b.rating <=> a.rating } %>
<% @entries.each do |entry| %>
  <div class="entry group_<%= entry.group.id %>">
    <div class="entry-header">
      <div class="entry-vote">
        <% if current_user %>
          <%= link_to like_entry_path(entry), method: :put, class: "upvote" do %>
            <span class="glyphicon glyphicon-chevron-up" data-toggle="tooltip" data-placement="top" title="Upvote" aria-hidden="true"></span>
          <% end %>
          <%= link_to dislike_entry_path(entry), method: :put, class: "downvote" do %>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="tooltip" data-placement="top" title="Downvote" aria-hidden="true"></span>
          <% end %>
        <% end %>
        <span class="entry-points"><%= entry.rating %></span>
      </div>
      <a target="_blank" href="<%= entry.link %>" class="entry-title" target="_blank"><%= entry.title %></a>
      <% if !entry.accepted %>
        <div class="entry-options">
          <%= link_to "Reject", entry_path(entry), data: {confirm: "Are you sure?"}, :method => :delete, class: 'btn btn-danger pull-right reject-entry-btn' %>
          <%= link_to "Accept", accept_entry_path(entry), class: 'btn btn-success pull-right accept-entry-btn',method: :put   %>
        </div>
      <% end %>
      <% if current_user %>
        <div class="menu-icon-wrapper">
          <% if entry.accepted %>
            <% read_class = (entry.unread? current_user) ? "glyphicon-unchecked" : "glyphicon-check" %>
            <%= link_to read_entry_path(entry), method: :put, class: "entry-icon" do %>
              <span class="glyphicon icon-small <%= read_class %>" data-toggle="tooltip" data-placement="top" title="Done" aria-hidden="true"></span>
            <% end %> 
          <% end %>
          <% if current_user.edit? && (permitted_to? :edit, entry) %>
            <%= link_to entry_path(entry), data: {confirm: "Are you sure?"}, :method => :delete, class: "entry-icon" do %>
              <span class="glyphicon icon-small glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
            <% end %>         
            <%= link_to edit_entry_path(entry), class: "entry-icon" do %>
              <span class="glyphicon icon-small glyphicon-edit" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="entry-description">      
      <p><span class="entry-group"><%= entry.group.name %></span><%= entry.description %></p>
      <div class="tag-list">
        <% entry.tags.each do |t| %>
          <%= link_to t.name, tag_path(t), class: "tag" %>
        <% end %>   
      </div> 
    </div>
  </div>
<% end %>