<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>t=Coilbee" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=<%= request.original_url %>&text=Coilbee:<%= request.original_url %>" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=Coilbee&summary=&source=<%= request.original_url %>" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  <li><a href="mailto:?subject=Coilbee&body=:%20<%= request.original_url %>" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
</ul>