<% Library.all.select{ |lib| lib.public }.each do |lib| %>
	<% if lib.creator != current_user %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to lib.topic, library_path(lib), class: "panel-title library-title" %>
				<% if lib.users.include?(current_user) %>
					<%= link_to "Unfollow", library_unsubscribe_path(lib), :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-danger pull-right reject-btn' %>
				<% else %>
				<%= link_to "Follow", library_subscribe_path(lib), :method => :put,  class: 'btn btn-success pull-right follow-btn'  %>
				<% end %>
					
			    
			</div>
			<div class="panel-body">
				<%= lib.description %>
				<%= link_to library_path(lib), class: "pull-right" do %>
				    <button type="button" class="btn btn-primary open-btn">Open</button>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>