<h2 class="in-form-title">Edit library</h2>

<%= form_for(@library_to_edit, :html => {:class => 'in-form'}) do |f| %>
	<div class="in-row">
		<%= f.text_field :topic, autofocus: true, class: "in-field", id: "lib-title" %>
		<label class="in-label" for="lib-title">
	      <span class="in-label-content" data-content="Title">Title</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_area :description, class: "in-field", id:"lib-desc" %>
		<label class="in-label" for="lib-desc">
	      <span class="in-label-content" data-content="Description">Description</span>
	    </label>
	</div>
	<%= hidden_field_tag 'library[moderator_ids][]', nil %>
	<% @library_to_edit.subscriptions.each do |subscription| %>
		<div class="in-row small">
			<%= check_box_tag "library[moderator_ids][]", subscription.user.id, @library_to_edit.moderators.include?(subscription.user), id: "mod_" + subscription.user.id.to_s %>
			<label for="mod_<%= subscription.user.id %>"><span><span></span></span><%= subscription.user.user_name %></label>
		</div>
	<% end %>
  <%= f.submit "Save changes", class: "btn btn-primary in-submit" %>
<% end %>
