<div class="jumbotron">
	<h1 class="text-center">Welcome to Linkr!</h1>
  	<h3 class="text-center">Create, follow or suggest libraries</h3>
</div>
<div class="pull-left">
	<h2>Your libraries</h3>
</div>
<div class="pull-right">
	<%= link_to "New Library", new_library_path, :class => 'btn btn-primary pull-right'  %>
</div>
<div class="pull-right">
	<%= link_to "Find Library", '', :class => 'btn btn-primary pull-right'  %>
</div>
<div class="spacer50"></div>
<div class="spacer25"></div>
<% if @libraries_own.empty? %>
	<p>Currently you don't have any libraries.</p>
	<% end %>
	<% @libraries_own.each do |lib| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<em><%= lib.topic %></em>
				<div class="pull-right">
					<%= link_to library_path(lib), data: {confirm: "Are you sure?"}, :method => :delete do %>
		      	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		      <% end %>
				</div>
				<div class="pull-right">
					<%= link_to library_edit_path_path(lib) do %>
		        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		      <% end %>
				</div>
				<div class="pull-right">
					<%= link_to new_suggestion_path(:lib => lib) do %>
		        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		      <% end %>
				</div>
			</div>
		</div>
	  <div class="panel-body">
		  <%= lib.description %>
		  <div class="pull-right">
				<%= link_to library_path(lib) do %>
	        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
	      <% end %>
			</div>
	  </div>
	</div>
<% end %>
<h2>Followed libraries</h2>
<% if @libraries_followed.empty? %>
	<p>Currently you are not following any libraries.</p>
	<% end %>
	<% @libraries_followed.each do |lib| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<em><%= lib.topic %></em>
				<div class="pull-right">
					<%= link_to library_path(lib), data: {confirm: "Are you sure?"}, :method => :delete do %>
		      	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		      <% end %>
				</div>
				<div class="pull-right">
					<%= link_to library_edit_path_path(lib) do %>
		        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		      <% end %>
				</div>
				<div class="pull-right">
					<%= link_to new_suggestion_path(:lib => lib) do %>
		        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		      <% end %>
				</div>
			</div>
		</div>
	  <div class="panel-body">
		  <%= lib.description %>
		  <div class="pull-right">
				<%= link_to library_path(lib) do %>
	        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
	      <% end %>
			</div>
	  </div>
	</div>
<% end %>
<% unless @suggestions.empty? %>
	<h2>Suggested libraries</h2>
	<% @suggestions.each do |sug| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<em><%= sug.library.topic %> (Invitation by: <%= sug.creator.email %>)</em>
				<div class="pull-right">
					<%= link_to library_path(sug.library), data: {confirm: "Are you sure?"}, :method => :delete do %>
		      	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		      <% end %>
				</div>
				<div class="pull-right">
					<%= link_to library_edit_path_path(sug.library) do %>
		        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		      <% end %>
				</div>
				<div class="pull-right">
					<%= link_to "" do %>
		        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		      <% end %>
				</div>
			</div>
		</div>
	  <div class="panel-body">
		  <%= sug.library.description %>
		  <div class="pull-right">
				<%= link_to library_path(sug.library) do %>
	        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
	      <% end %>
			</div>
			<div class="pull-right">
				<%= link_to "Reject", delete_suggestion_path(sug), data: {confirm: "Are you sure?"}, :method => :delete, :class => 'btn btn-default btn-sm pull-right' %>
			</div>
			<div class="pull-right">
				<%= link_to "Follow", accept_suggestion_path(sug), :class => 'btn btn-default btn-sm pull-right'  %>
			</div>
	  </div>
	</div>
<% end %>

<% end %>
