<div class="library-header">
	<h2 class="libraries-text">Libraries</h2>
	<%= link_to new_library_path, class: "btn btn-success new-btn" do %>
		<i class="glyphicon glyphicon-plus"></i>
		<span>New</span>
	<% end %>
	<%= link_to '', class: "btn btn-default browse-btn" do %>
		<i class="glyphicon glyphicon-th"></i>
		<span>Browse</span>
	<% end %>
</div>

<% if @libraries_own.empty? and @libraries_followed.empty? and @invitations.empty? %>
<div class="empty">
	<p class="empty-text">You don't have any libraries.</p>
	<p class="empty-invitation"><%= link_to "Create", new_library_path, class: "empty-link" %> or <%= link_to "Browse", '', class: "empty-link" %> libraries!</p>
</div>
<% else %>
<ul class="nav nav-tabs library-tabs" role="tablist">
	<% unless @libraries_own.empty? %>
		<li role="presentation" class="active" >
			<a href="#created" aria-controls="created" role="tab" data-toggle="tab">Created<i class="glyphicon glyphicon-pencil"></i></a>
		</li>
	<% end %>
	<% unless @libraries_followed.empty? %>
		<li role="presentation" <% if @libraries_own.empty? %> class="active"<% end %> >
			<a href="#followed" aria-controls="followed" role="tab" data-toggle="tab">Followed<i class="glyphicon glyphicon-sunglasses"></i></a>
		</li>
	<% end %>
	<% unless @invitations.empty? %>
		<li role="presentation" <% if @libraries_own.empty? and @invitations.empty? %> class="active"<% end %> >
			<a href="#invited" aria-controls="invited" role="tab" data-toggle="tab">Invited<i class="glyphicon glyphicon-link"></i></a>
		</li>
	<% end %>
</ul>
<div class="tab-content library-tab-content">
	<!-- Created tab -->
	<div role="tabpanel" class="tab-pane fade <% unless @libraries_own.empty? %>in active <%end %>" id="created">
		<% @libraries_own.each do |lib| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to lib.topic, library_path(lib), class: "panel-title library-title" %>
				<% if current_user && current_user.edit? %>
					<%= link_to library_path(lib), data: {confirm: "Are you sure?"}, :method => :delete, class: "pull-right" do %>
			      		<span class="glyphicon icon-small glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Delete" aria-hidden="true"></span>
			        <% end %>
					<%= link_to edit_library_path(lib), class: "pull-right" do %>
			        	<span class="glyphicon icon-small glyphicon-edit" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
			        <% end %>
					<%= link_to new_invitation_path(:lib => lib), class: "pull-right"  do %>
			        	<span class="glyphicon icon-small glyphicon-share-alt" data-toggle="tooltip" data-placement="top" title="Share" aria-hidden="true"></span>
			        <% end %>
			    <% end %>
			</div>
			<div class="panel-body">
				<%= lib.description %>
				<%= link_to library_path(lib), class: "pull-right" do %>
				    <button type="button" class="btn btn-primary open-btn">Open</button>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	<!-- Followed tab -->
	<div role="tabpanel" class="tab-pane fade <% if @libraries_own.empty? %>in active<%end%>" id="followed">
		<% @libraries_followed.each do |lib| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= link_to lib.topic, library_path(lib), class: "panel-title library-title" %>	
					<% if current_user && current_user.edit? %>
						<%= link_to library_path(lib), data: {confirm: "Are you sure?"}, :method => :delete, class: "pull-right" do %>
	      			<span class="glyphicon icon-small glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Unfollow" aria-hidden="true"></span>
		        <% end %>
				    <% if permitted_to? :edit, lib %>
				    	<%= link_to edit_library_path(lib), class: "pull-right" do %>
			        	<span class="glyphicon icon-small glyphicon-edit" data-toggle="tooltip" data-placement="top" title="Edit" aria-hidden="true"></span>
				      <% end %>
				    <% end %>
						
						<%= link_to new_invitation_path(:lib => lib), class: "pull-right" do %>
				        	<span class="glyphicon icon-small glyphicon-share-alt" data-toggle="tooltip" data-placement="top" title="Share" aria-hidden="true"></span>
				        <% end %>
			        <% end %>
				</div>
				<div class="panel-body">
					<%= lib.description %>
					<%= link_to "Open", library_path(lib), class: "btn btn-primary pull-right open-btn" %>
				</div>
			</div>
		<% end %>
	</div>
	<!-- Invited tab -->
	<div role="tabpanel" class="tab-pane fade <% if @libraries_own.empty? and @libraries_followed.empty? %>in active <%end%>" id="invited">
		<% @invitations.each do |invitation| %>
		<div class="panel panel-default">
			<div class="panel-heading">
			<%= link_to invitation.library.topic, library_path(invitation.library), class: "panel-title library-title" %><span class="invited-by">invited by: <span><%= invitation.creator.email %></span></span>
				<%= link_to "Reject", invitation_path(invitation), data: {confirm: "Are you sure?"}, :method => :delete, class: 'btn btn-danger pull-right reject-btn' %>
				<%= link_to "Follow", accept_invitation_path(invitation), class: 'btn btn-success pull-right follow-btn'  %>
			</div>
			<div class="panel-body">
				<%= invitation.library.description %>
				<%= link_to "Open", library_path(invitation.library), class: "btn btn-primary pull-right open-btn" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<% end %>
