<h2 class="in-form-title">Create library</h2>
<%= form_for(@library_new, :html => {:class => 'in-form'}) do |f| %>
	<div class="in-row">
		<%= f.text_field :topic, class: "in-field", id: "lib-topic" %>
		<label class="in-label" for="lib-topic">
	      <span class="in-label-content" data-content="Topic">Topic</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_area :description, class: "in-field", id:"lib-desc" %>
		<label class="in-label" for="lib-desc">
	      <span class="in-label-content" data-content="Description">Description</span>
	    </label>
	</div>
	<div class="in-row small">
		<%= f.check_box :public, id: "lib-pub" %>
		<label for="lib-pub %>"><span><span></span></span>Public</label>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary in-submit" %>
<% end %>