<h2 class="in-form-title">Suggest a new link</h2>
<%= form_for(@entry, :html => {:class => 'in-form'}) do |f| %>
	<div class="in-row">
		<%= f.text_field :title, class: "in-field", id: "entry-title" %>
		<label class="in-label" for="entry-title">
	      <span class="in-label-content" data-content="Title">Title</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.url_field :link, class: "in-field", id: "entry-link" %>
		<label class="in-label" for="entry-link">
	      <span class="in-label-content" data-content="Link">Link</span>
	    </label>
	</div>
	<div class="in-row">
		<%= f.text_area :description, class: "in-field", id: "entry-description" %>
		<label class="in-label" for="entry-description">
	      <span class="in-label-content" data-content="Description">Description</span>
	    </label>
	</div>
	<div class="in-row">
		<%= label_tag 'entry[section_id]', "Section" %>
		<%= f.collection_select(:section_id, @sections, :id, lambda { |c| "#{c.category.name}/#{c.name}" }, {prompt: true}, {class: "form-control"}) %>
	</div>
	<div class="in-row">
		<%= label_tag 'entry[group_id]', "Type" %>
		<%= f.collection_select(:group_id, @groups, :id, :name, {prompt: true}, {class: "form-control"}) %>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary in-submit" %>
<% end %>
