      <h1><%= @section.name %></h1>
      <% @section.entries.each do |entry| %>
        <div class="entry">
          <p class="entry-title"><%= entry.title %></p>
          <a class="entry-link" href="<%= entry.link %>"><%= entry.link %></a>
          <p class="entry-desc"><%= entry.description %></p>
          <p class="entry-rating">Rating: <%= entry.rating %></p>
          <p class="entry-time"><%= entry.created_at %></p>
        </div>
      <% end %>
