<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @categories.each_with_index do |c, index| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
          <a href="#collapse<%= index %>" class="sidebar-header" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse<%= index %>">
            <%= c.name %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
        <% c.sections.each do |s| %>
          <div class="panel-body">
            <%= link_to s.name, section_path(s) %>           
          </div>
        <% end %> 
      </div>  
    </div>
  <% end %>
</div>
