<!DOCTYPE html>
<head>
  <title>Lalibrary</title>
  	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
   	<%= csrf_meta_tags %> 
</head>
	<%= render 'shared/header.html.erb'%>
	<div class="container-fluid">
		<div class="row">
			<% if @library && @library.topic %>
				<div class="col-lg-3 col-lg-offset-1 col-sm-3 col-xs-0">
					<%= render 'shared/library_menu.html.erb' %>
				</div>
				<div class="col-lg-7 col-sm-9 col-xs-12">
			<% else %>
				<div class="col-lg-10 col-lg-offset-1 col-xs-12">
			<% end %>
					<% if notice %>
						<p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
						<p class="alert alert-danger"><%= alert %></p>
					<% end %>
					<%= yield %>
				</div>
	  	</div>
	</div>
</body>
